    * {
        text-decoration: none;
        list-style: none;
    }
    
    body {
        background-color: whitesmoke;
        margin: 0;
    }
    
    .nav {
        display: flex;
        flex: 0 0 25%;
        background-color: #80351E;
        font-weight: bold;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-left: 20px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#80351E;
    }

    a {
        color: #01213b;
        font-family: 'Lato', serif;
    }
    
    
    li {
        float: left;
        width: 24%;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
    
    li a:active {
        background-color: #063B67;
        color: white;
    }
    
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    
    h1 {
        text-align: center;
    }
    
    h2,
    h3,{
        text-align: center;
        display: block;
    }
    
    p {
        text-align: left;
        display: block;
        font-size: 1.2em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-align: left max-width: 800px;
        display: inline-block;
        float: right;
    }

div {
    padding-left: 20px;
}
footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    color: black;
}
@media all and (max-width: 800px) {
    h1 {
        font-size: 8vw;
    }
    
    h2,
    h3 {
        font-size: 6vw;
    }
    
    p {
        font-size: 4vw;
    }