    * {
    text-decoration: none;
    list-style: none;
    align-items: center;
}

body {
    background: url("portfolio_images/homecolor.jpg");
    background-size: cover;
    background-color: #80351E;
    margin: 0;
}

.nav {
    display: flex;
    flex: 0 0 25%;
    background-color: #80351E;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#80351E;
}

li {
    float: left;
    width: 24%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:active {
    background-color: #063B67;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    color: white;
    filter: grayscale(1);
    text-shadow: #111 0px 0px 10px;
}

h1 {
    font-size: 70px;
    margin-top: 20%;
    color: white;
    text-align: center;
    font-weight: bold;
    filter: grayscale(1);
    text-shadow: #111 0px 0px 10px;
}

h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    filter: grayscale(1);
    text-shadow: #111 0px 0px 10px;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 10vw;
    }
    h2,
    h3 {
        font-size: 8vw;
    }
    p {
        font-size: 6vw;
    }